<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Saúde IFRN</title>
    <link rel="stylesheet" href="/public/styles/style_index.css">
</head>
<body>
    <h1 id="titulo1">+Saúde IFRN</h1>
    <br>
    <h2 id="titulo2">Seja Bem-vindo!</h2>
    
    <button id="btnAdmin" onclick="abrirModal()">Login Admin</button>
    <button id="btnSuap" onclick="window.location.href='/auth/login'">Login SUAP</button>

    <div id="modal">
        <h2>Login Admin</h2>
        {{!-- aqui vai redirecionar pra parte de gerenciamento de profissionais --}}
        <form id="adminLogin" class="form"> 
            <span class="input-span">
                <label for="login" class="label">Usuário</label>
                <input type="text" name="login" id="login" required />
            </span>
            <span class="input-span">
                <label for="senha" class="label">Senha</label>
                <input type="password" name="senha" id="senha" required />
            </span>
            <input class="submit" type="submit" value="Entrar" />
            <button id="btnModalFechar" type="button" class="submit" onclick="fecharModal()">Fechar</button>
        </form>
    </div>

    <script src="/public/scripts/script_index.js"></script>
</body>
</html>