<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Saúde IFRN</title>
    <!-- ".." vira alias para ../public -->
    <link rel="stylesheet" href="/public/styles/style_perfil.css">
</head>
<body>
    <header class="header">
        <div class="class nav-left">
            <a href="#">+Saúde IFRN</a>
            <a href="/">Início</a>
            <a href="/agendamentos">Agendamentos</a>
        </div>
        <div class="class nav-right">
            <a href="./pagina_historico.html">Histórico</a>
            <a href="#"style="color:#3BE799">Perfil</a>
        </div>
    </header>

    <div class="class container">

    </div>

    <footer class="footer">
        <p>© 2025 +Saúde IFRN. Todos os direitos reservados.</p>
        <p>Entre em contato:</p>
        <a href="https://wa.me/1234567890" class="whatsapp">WhatsApp</a>
        <img src="logo.png" alt="Logo">
    </footer>
</body>
</html>