body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* *************************** */
/* container principal */
.container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
}


/* *************************** */
/* cabeçalho */
.header {
    background-color: #31615F;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-right, .nav-left {
    display: flex;
    gap: 20px;
}
.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


/* *************************** */
/* divs */
/* div consultas */
.section-consultas {
    color: #224745;
    background-color: rgb(175, 20, 20);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.1vh;
    width: 60vh;
    margin-bottom: 20px;
    height: 25%;
}

.consulta-pendente {
    height: 100px;
    background-color: #e9ecef;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* div ultimas consultas */
.section-ultimas {
    color: #224745;
    background-color: rgb(11, 224, 39);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.1vh;
    width: 60vh;
    margin-bottom: 20px;
    height: 25%;
}

.consulta-ultimas {
    height: 100px;
    background-color: #e9ecef;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* div avisos */
.section-avisos {
    color: #224745;
    background-color: rgb(40, 8, 99);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.1vh;
    width: 30%;
    margin-bottom: 20px;
    height: 55vh;
}

.avisos {
    height: 100px;
    background-color: #e9ecef;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
}

.avisos:last-child {
    margin-bottom: 0;
}

/* *************************** */
/* footer */
.footer {
    background-color: #31615F;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer img {
    width: 100px;
}

.whatsapp {
    display: inline-block;
    margin: 0 10px;
}