body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* *************************** */
/* calendario */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.calendar-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    width: 800px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 20px;
}

.calendar-day-name {
    font-weight: bold;
    text-align: center;
    padding: 0px;
    color: black;
}

.calendar-day {
    width: auto;
    height: 40px;
    background-color: #E8E9EA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.today {
    background-color: #3BE799;
    color: white;
}

/* histórico */
.user-id-input {
    text-align: center;
    margin: 20px 0;
}

.user-id-input input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

#fetch-atendimentos-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3BE799;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#atendimentos-table {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    background-color: #00000000;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#atendimentos-table th,
#atendimentos-table td {
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #00000000;
    border-radius: 10px;
    background-color: #ffffff;
}

#atendimentos-table th {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
}

#atendimentos-table td {
    background-color: #ffffff;
}

#atendimentos-table tr:hover td {
    background-color: #d1f7e3;
}

/* *************************** */
/* cabeçalho */
.header {
    background-color: #31615F;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-right, .nav-left {
    display: flex;
    gap: 20px;
}
.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


/* *************************** */
/* footer */
.footer {
    background-color: #31615F;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer img {
    width: 100px;
}

.whatsapp {
    display: inline-block;
    margin: 0 10px;
}