body {
    margin: 0;
    font-family: sans-serif;
    background-color: #E8E9EA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* *************************** */
/* container principal */
.container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
}


/* *************************** */
/* cabeçalho */
.header {
    background-color: #31615F;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-right, .nav-left {
    display: flex;
    gap: 20px;
}
.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


/* *************************** */
/* divs */
/* div consultas */
.section-consultas {
    color: #224745;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.1vh;
    width: 60vh;
    margin-bottom: 20px;
    height: 25%;
}

.consulta-pendente {
    height: 100px;
    color: #224745;
    background-color: #e9ecef;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* div ultimas consultas */
.section-ultimas {
    color: #224745;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.1vh;
    width: 60vh;
    margin-bottom: 20px;
    height: 25%;
}

#consulta-ultimas {
    height: 10vh;
    background-color: #e9ecef;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* div avisos */
.section-avisos {
    color: #224745;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.1vh;
    width: 30%;
    margin-bottom: 20px;
    height: auto;
}

.avisos {
    height: 15vh;
    background-color: #e9ecef;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
    padding-bottom: 2vh;
}

.avisos:last-child {
    margin-bottom: 0;
}

/* *************************** */
/* footer */
.footer {
    background-color: #31615F;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer img {
    width: 100px;
}

.whatsapp {
    display: inline-block;
    margin: 0 10px;
}

/* responsividade */

@media (max-width: 1199px) and (min-width: 768px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
    }

    .nav-left, .nav-right {
        gap: 15px;
    }

    .section-consultas, .section-ultimas, .section-avisos {
        width: 100%; 
    }

    .footer img {
        width: 90px;
    }

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav-left, .nav-right {
        flex-direction: column;
        gap: 10px;
    }

    .section-consultas, .section-ultimas {
        width: 80%;
        padding-bottom: 1vh; 

    .section-avisos {
        width: 90%;
        padding-bottom: 1vh; 
    }


    .consulta-pendente,
    #consulta-ultimas,
    .avisos {
        height: auto; 
        /* padding: 10px; */
    }

    .footer img {
        width: 80px;
    }
    }
}